@import 'tailwindcss';

:root {
  --bg: #f1f3f6;
  --bg-secondary: #ffffff;
  --text-default: #000000;
  --text-orange: #f34213;
  --hover-bg: #e2e6eb;
  --opacity: 5%;
}

.dark {
  --bg: #050609;
  --bg-secondary: #0e111a;
  --text-default: #ffffff;
  --text-orange: #f34213;
  --hover-bg: #0e111a;
  --opacity: 2%;
}

.color-bg {
  transition: background 0.3s ease;
  background: var(--bg);
  color: var(--text-default);
}

.text-primary {
  transition: color 0.3s ease;
  color: var(--text-default);
}

.text-orange {
  transition: color 0.3s ease;
  color: var(--text-orange);
}

.color-bg-secondary {
  transition: background 0.3s ease;
  background: var(--bg-secondary);
}

.color-bg-orange {
  transition: background 0.3s ease;
  background: var(--text-orange);
  color: var(--bg-secondary);
}

.color-hover-bg:hover {
  transition: background 0.3s ease;
  background: var(--hover-bg);
}

.opacity {
  transition: opacity 0.3s ease;
  opacity: var(--opacity);
}

.border-orange {
  border-color: var(--text-orange);
}
